body {
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
}

.title {
    text-align: center;

    h1 {
        margin-top: 3em;
        font-weight: 700;
    }
}

.intro {
    max-width: 650px;
    margin: 2em auto;
    justify-content: center;
}

.sqr-feet {
    display: flex;
}



#square-feet-text {
    margin-right: 0.5em;
}

#square-feet-label {
    margin-left: 0.25em;
}

#searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0em auto 2em auto;
}

.button-right {
    margin-left: 1em;
}

#map {
    max-width: 800px;
    margin: auto;
}

.stepper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
}

.idk_layout {
    display: flex;
    flex-direction: row;
    min-width: 300px;
}

.idk_button {
    min-width: 100px;
}

.surfaceArea {
    display: flex;
    border: 1px solid #333;
    padding: 1em;
    font-size: 0.85em;
    background-color: lightyellow;
    margin-bottom: .5em;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    p {
        margin: 0 !important;
    }
}

.azimuth {
    display: flex;
}

.manualDraw, .finalConfirm, .azimuth, .findOrient, .runModel {
    p {
        margin-top: 1em;
    }
}

.manualDraw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .orientation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
    }
}

.top-wrapper {
    margin: auto;
    display: flex;
}

.projection-title {
    h4 {
        align-items: center;
        text-align: center;
        margin: 1em auto -2em auto;
        font-weight: 700;
    }
}

.sunroof-image {
    width: 350px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
    object-position: 80% 120%;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: 170px;
    margin-left: -50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  .input-item {
      text-align: center;
      height: 3em;
  }

  table {
      vertical-align: middle !important;

      thead {
          text-align: center !important;
      }

      td {
          padding: 0 !important;
      }
  }

  .alert {
      border-radius: 0 !important;

      p {
          margin: 0;
      }
  }

  .scrapeItem {
      font-size: 1.25em;
  }

  .drawButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    align-items: flex-end;
  }

  .drawModeNotice {
      font-size: 0.95em;
  }

  .sunroofImage {
      display: flex;
      flex-direction: column;

      .sunroof-key{
          margin: 0.25em 0;
          max-width: 350px;
      }
  }

  .backSunroof {
    padding: 2em 0;
  }

  .sunroof-header {
      font-weight: 700;
  }

  .finalConfirm{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    border: 1px solid #ddd;
    max-width: 350px;
    padding: 1em 1em 2em 1em;
    text-align: center;

    button {
        max-width: 200px;
        margin: auto;
    }

  }

  #azimuthEdit, #panelEdit, #yearEdit, #squareFeet, #membersEdit {
      font-size: 0.75em;
      font-weight: 700;
  }

  .weAreReady {
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;

    button {
        max-width: 200px;
    }
  }

  .readyToSubmit {
      margin: 3em auto;
      display: flex;
      flex-direction: column;
      max-width: 400px;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .scraper-delay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 150px;

      p {
          margin-bottom: 3em;
      }
  }

  .alert-sizeestimate {
        margin: 3em 0;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        // max-width: 375px;

        p {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
        }
  }

  .confirmButton {
    margin: -2em 2em 1em 1.5em;
    color: #fff;
    background: #28a745;
  }

  .readyRun {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;

      p {
          margin-bottom: 3em;
      }
  }

  mat-spinner {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
  }

  .orientation-value {
      font-weight: 700;
      margin-left: 1em;
  }

  .noheading {
    border: 2px solid #ff5722;
    padding: 0.5em 1em;
    color: #ff5722;
    background-color: transparent;
  }

  .heading {
    border: 2px solid #28a745;
    padding: 0.5em 1em;
    color: #28a745;
    background-color: transparent;
  }

  #logout-button-holder {
    display: flex;
    justify-content: space-between;
  }

  .confirmaz:disabled {
    color: #fff !important;
    background-color: #28a74648 !important;
  }

  .confirmaz {
    color: #fff !important;
    background-color: #28a746 !important;
  }

  .orientbtn {
      margin-right: 1em;
  }

  #sunroof-square-feet, .feet {
      color: #28a745;
      background: transparent;
  }

  .orientation {
      display: flex;
      flex-direction: row;
  }

  .tick line{
    visibility:hidden;
  }

  .scenarioSelector {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 350px;
      margin: auto;
  }

  .top-wrapper {
      width: 700px;
      margin: 0;
  }

  .sim-context {
      margin: 0 0 2em 0;
  }

  .error-wrapper {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: 700;

    p {
        font-size: 1.2em;
        color: indianred;
    }
  }

  .dummy-div-wrapper {
      display: flex;
      flex-direction: row;
      margin: auto;
      justify-content: center;
  }

  .button-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 400px;
  }

  .summary {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: auto;
  }

  .bar-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
  }

  .first-row-visuals {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        text-align: center;
        margin: 2em;
        font-weight: 600;
      }
  }

  .breakeven-wrapper {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      padding: 3em;
  }

  .energy-wrapper {
      max-width: 50%;
      margin: auto;
      padding: 2em;
  }

  .d3-viz-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 

  .num-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    min-height: 280px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }



  .sixty-accrue {
      padding: 5em;

      p {
          text-align: center;
          font-size: 1.25em;
          line-height: 1.75em;
      }

      .smaller-text {
        font-size: 3em;
        color: #003f5c;
    }

    .big-num {
        font-size: 12em;
        color: #003f5c;
    }

    .weighing-costs {
        text-align: left;
        font-size: 0.95em;
    }
  }

  .yields-context {
      font-size: 0.85em;
  }
