<div class="title">
        <h1>Long-term financial projection of installing solar <br> panels on your home</h1>
</div>

<div class="intro">
        <small>
                Solar panel arrays are often marketed by the number of kW they can 
                produce. This number is actually what the system would produce assuming 
                they receive full sunlight for at least 8 hours in a day. In reality the 
                amount of kW they produce depends largely on the sunlight your rooftop is 
                exposed to. <br><br>
                The following calculator is meant to take into account the sunlight in your 
                area and provide estimates of certain panel system sizes (since you are often 
                limited by the size of your roof) as well as their efficiencies.
        </small>
</div>



<div class="searchDiv">
        <AutocompleteComponent (setAddress)="getAddress($event)" addressType="geocode"></AutocompleteComponent>
        <button class="button-right" id="submit" mat-raised-button type="submit" color="primary" (click)="goForward(stepper)">Search</button>
</div>
<div id='map' style="width:100%;height:400px"></div>

<div class="stepper">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step label="Please search for your household address above.">
                </mat-step>
                <mat-step label="Use the measurment tool to calculate the total square footage of your roof.">
                        <p>Please select the "Draw" button and draw an outline around the surface of your roof:</p>
                        <button *ngIf=draw (click)="measureTool.start()" mat-raised-button>Draw</button>
                        <button *ngIf=draw (click)="measureTool.end()" mat-raised-button>Re-draw</button>
                        <button *ngIf=draw (click)="goForward(stepper)" mat-raised-button>Confirm square footage</button>
                        <div class="surfaceArea">
                                <p>Estimated surface area of your roof: </p><p id="square-feet"><strong>&nbsp; {{measureTool._area | number}}</strong></p> <p><strong>ft&#178;</strong></p>
                        </div>
                </mat-step>
                <mat-step label="Identify the orientation of your roof.">
                        <p>Find the ridge of your roof, select the "Draw" button, and draw a line with two points along the pitch:</p>
                        <button *ngIf=draw (click)="measureTool.start()" mat-raised-button>Draw</button>
                        <button *ngIf=draw (click)="measureTool.end()" mat-raised-button>Re-draw</button>
                        <button mat-raised-button (click)="calculateHeading()">Find azimuth angle</button>
                        <div class="surfaceArea">
                                <p>Estimated azimuth angle of your roof: <strong>{{heading | number}} &deg;</strong></p>
                                <button *ngIf=confirm (click)="goForward(stepper)" mat-raised-button>Confirm azimuth angle</button>
                        </div>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>How many people live in your household?</ng-template>
                <mat-form-field>
                <mat-label># of household members</mat-label>
                <input matInput placeholder="4" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
                </div>
                </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" label="What is the square footage (ft) of your house?">
                <form [formGroup]="secondFormGroup">
                <mat-form-field>
                <mat-label></mat-label>
                <div class="idk_layout">
                        <input matInput formControlName="secondCtrl" placeholder="1,200">
                        <button class="idk_button" mat-raised-button matStepperNext>I'm not sure</button>
                </div>
                </mat-form-field>
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
                </div>
                </form>
                </mat-step>
                <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
                </mat-step>
        </mat-vertical-stepper>
</div>





<button (click)="postClick()">Post Test</button>

<router-outlet></router-outlet>