body {
    max-width: 650px;
    margin: auto;
}

.title {
    text-align: center;

    h1 {
        margin-top: 3em;
        font-weight: 700;
    }
}

.intro {
    max-width: 650px;
    margin: 2em auto;
    justify-content: center;
}

.sqr-feet {
    display: flex;
}



#square-feet-text {
    margin-right: 0.5em;
}

#square-feet-label {
    margin-left: 0.25em;
}

.searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0em auto 2em auto;
}

.button-right {
    margin-left: 1em;
}

#map {
    max-width: 800px;
    margin: auto;
}

.stepper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
}

.idk_layout {
    display: flex;
    flex-direction: row;
    min-width: 300px;
}

.idk_button {
    min-width: 100px;
}

.surfaceArea {
    display: flex;
    border: 1px solid #333;
    padding: 1em;
    font-size: 0.85em;
    background-color: lightyellow;
    margin-bottom: .5em;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    p {
        margin: 0 !important;
    }
}

.azimuth {
    display: flex;
}

.manualDraw, .finalConfirm, .azimuth, .findOrient, .runModel {
    p {
        margin-top: 1em;
    }
}
