/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.projection {
    margin: auto !important;
}

.table-sm td {
    padding: 0 !important;
}

td {
    vertical-align: middle !important;
}


/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
}


.tick line{
    visibility:hidden;
  }

  g.x-axis text, g.y-axis text {
    color: #6c757d;
    font-size: 1em;
    font-family: 'Roboto', 'Arial', sans-serif;
  }

.x-axis path, .y-axis path {
    stroke: #6c757d
}

g.x-axis-dummy text, g.y-axis-dummy text {
    color: #ddd;
    font-size: 1em;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.x-axis-dummy path, .y-axis-dummy path {
    stroke: #ddd;
}

g.graph-dummy text {
    fill: #ccc;

}

.toolTip {
    display: flex;
    justify-content: center;
    line-height: 0.75em;
    padding: 1em;
    display: flex;
    vertical-align: middle;
    font-size: 0.95em;
    margin-top: -2em;
    margin-left: 2em;
    border: 1px solid #ddd;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }

.tooltip-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 80%;
}

.tooltip-p {
    margin: 0 !important;
    color: #6c757d;

    .pos {
        color: #488f31;
    }
  
    .neg {
        color: #de425b;
    }
}

.x-axis-label, .y-axis-label {
    font-size: 0.85em;
}

.mat-card {
    max-width: 1200px;
    margin: 2em auto;
}

.mat-card-header {
    padding-top: 2em;
}

